@model Interview.Web.Api.ModelObject

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ModelObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" name="EmailAddress" data-val="true" data-val-required="Enter a valid email address." data-val-email="Enter a valid email address." />
                <div class="field-validation-valid text-danger" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="button is-primary" />&nbsp;&nbsp;<a asp-action="Index" class="button is-info">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
