@model Interview.Web.Api.ModelObject

@{
    ViewData["Title"] = "Upload";

}

<h1>Upload</h1>

<h4>ModelObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" asp-action="Upload">
            <dl>
                <dt>
                    <label>Upload File for @Model.EmailAddress: </label>
                </dt>
                <dd>
                    <input type="file" name="fileInput" data-val="true" data-val-required="Choose a file.">
                    <div class="field-validation-valid text-danger" data-valmsg-for="fileInput" data-valmsg-replace="true"></div>
                </dd>
            </dl>
            <br />
            <input asp-page-handler="Upload" class="button is-primary" type="submit" value="Upload" />&nbsp;&nbsp;<a asp-action="Index" class="button is-info">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
